{% extends 'njp/base.html' %}
{% block content %}
    <div class="left-bar">
        <div class="popular-tags">Популярные тэги</div>
        <form action="" method="get">
            <input name="s" placeholder="Поиск..." type="search">
            <button type="submit"></button>
        </form>
        <div class="tag-box">
            {% for tag in popular_tags %}
                {% if tag.pic_count > 1 %}
                    <div class="tag" data-tag-name="{{ tag.name }}" onclick="toggleTag(this)">
                        #{{ tag.name }}[{{ tag.pic_count }}]
                    </div>
                {% else %}
                    <div class="tag" data-tag-name="{{ tag.name }}" onclick="toggleTag(this)">#{{ tag.name }}</div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="show-selected-btn" onclick="showSelectedTags()" style="display: none">Показать выбранное</div>
        <div class="clear-tags-btn" onclick="clearTags()" style="display: none">Cбросить</div>
    </div>
    <div class="pics-feed">
        <div style="height: 100px"></div>
        {% for pic in pics_list %}
            <div class="pic">
                <div class="pic-overlay">
                    <div class="pic-overlay-text">ОТКРЫТЬ</div>
                </div>
                <div class="image-box">
                    <img class="pic-img" src="{{ pic.photo.url }}">
                </div>
                <div class="img-tag-list">
                    {% for tag in pic.tags.all %}
                        <div class="imgtag" onclick="openTag('{{ tag.name }}')">#{{ tag.name }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function toggleTag(tagElement) {
            tagElement.classList.toggle('selected-tag');


            const selectedTags = document.querySelectorAll('.selected-tag');

            if (selectedTags.length > 0) {
                document.querySelector('.show-selected-btn').style.display = 'block';
            } else {
                document.querySelector('.show-selected-btn').style.display = 'none';
            }
        }

        function showSelectedTags() {
            const selectedTags = document.querySelectorAll('.selected-tag');
            const tagNames = [];
            selectedTags.forEach(tag => {
                tagNames.push(tag.getAttribute('data-tag-name'));
            });
            const tagQueryString = tagNames.join('+');

            window.location.href = `/?tags=${tagQueryString}`;
        }

        function clearTags() {
            window.location.href = `/`;
        }

        if (window.location.href.includes("?tags=")) {
                document.querySelector('.clear-tags-btn').style.display = 'block';
            } else {
                document.querySelector('.clear-tags-btn').style.display = 'none';
            }

        function openTag(tagName) {
            window.location.href = `/?tags=${tagName}`;
        }
    </script>

{% endblock %}
