{% extends 'njp/base.html' %}
{% block content %}
    <div class="left-bar">
        <div class="popular-tags">Популярные тэги</div>
        <form autocomplete="off" action="" method="get">
            <input id="search-input" name="s" placeholder="Поиск..." type="search">
            <div class="loopa"></div>
        </form>
        <div class="open-tags-page-btn" onclick="toAllTags()">Показать все</div>
        <div class="tag-box">
            {% for tag in popular_tags %}
                {% if tag.pic_count > 1 %}
                    <div class="tag" style="display:none" data-tag-name="{{ tag.name }}" onclick="toggleTag(this)">
                        #{{ tag.name }}[{{ tag.pic_count }}]
                    </div>
                {% else %}
                    <div class="tag" style="display:none" data-tag-name="{{ tag.name }}" onclick="toggleTag(this)">
                        #{{ tag.name }}</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="show-selected-btn" onclick="showSelectedTags()" style="display: none">Показать выбранное</div>
        <div class="clear-tags-btn" onclick="clearTags()" style="display: none">Cбросить</div>
    </div>
    <div class="pics-feed">
        <div style="height: 100px"></div>
        {% for pic in pics_list %}
            <div class="pic">
                <div class="pic-overlay" onclick="openImg('{{ pic.get_absolute_url }}')">
                    <div class="pic-overlay-text">ОТКРЫТЬ</div>
                </div>
                <div class="image-box">
                    <img class="pic-img" src="{{ pic.photo.url }}">
                </div>
                <div class="img-tag-list">
                    {% for tag in pic.tags.all %}
                        <div class="imgtag" onclick="openTag('{{ tag.name }}')">#{{ tag.name }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function toggleTag(tagElement) {
            tagElement.classList.toggle('selected-tag');


            const selectedTags = document.querySelectorAll('.selected-tag');

            if (selectedTags.length > 0) {
                document.querySelector('.show-selected-btn').style.display = 'block';
            } else {
                document.querySelector('.show-selected-btn').style.display = 'none';
            }
        }

        function showSelectedTags() {
            const selectedTags = document.querySelectorAll('.selected-tag');
            const tagNames = [];
            selectedTags.forEach(tag => {
                tagNames.push(tag.getAttribute('data-tag-name'));
            });
            const tagQueryString = tagNames.join('+');

            window.location.href = `/?tags=${tagQueryString}`;
        }

        function clearTags() {
            window.location.href = '{% url 'index' %}';
        }

        if (window.location.href.includes("?tags=")) {
            document.querySelector('.clear-tags-btn').style.display = 'block';
        } else {
            document.querySelector('.clear-tags-btn').style.display = 'none';
        }

        function openTag(tagName) {
            window.location.href = `/?tags=${tagName}`;
        }

        function toAllTags() {
            window.location.href = '{% url 'tags' %}';
        }

        function openImg(imgurl) {
            window.location.href = imgurl;
        }

        function filterTags() {
            let visibleTagCount = 0;
            const searchInput = document.getElementById('search-input');
            const searchValue = searchInput.value.toLowerCase();
            const tags = document.querySelectorAll('.tag');
            tags.forEach(tag => {
                const tagName = tag.getAttribute('data-tag-name').toLowerCase();
                if (!searchValue || tagName.includes(searchValue)) {
                    if (visibleTagCount < 50) {
                        tag.style.display = 'block';
                        visibleTagCount += 1;
                    } else {
                        tag.style.display = 'none';
                    }
                } else {
                    tag.style.display = 'none';
                }
            });
        }

        document.getElementById('search-input').addEventListener('input', filterTags);
        filterTags();
    </script>
{% endblock %}
