{% extends 'njp/base.html' %}
{% block content %}
    <div class="main-image-box">
        <div class="id-text">{{ pic }}</div>
        <div class="pic-box">
            <img class="pic-img" src="{{ pic.photo.url }}">
        </div>
        <div class="img-tag-list">
            {% for tag in pic.tags.all %}
                <div class="imgtag" onclick="openTag('{{ tag.name }}')">#{{ tag.name }}</div>
            {% endfor %}
        </div>
        <div class="like-button-wrapper">
            <form action="{% url 'pic_like' pk=pic.id %}" method="post">
                {% csrf_token %}
                <button type="submit" name="pic-id" value="{{ pic.id }}" class="btn-like">
                    {% if is_liked %}
                        Не нравится
                    {% else %}
                        Нравится
                    {% endif %}
                </button>
            </form>
        </div>

        <div class="downld-text"><a class="download-pic" href="{{ pic.photo.url }}" download>Скачать изображение в
            полном размере</a></div>
    </div>

    <script>
        function openTag(tagName) {
            window.location.href = `/?tags=${tagName}`;
        }
    </script>

{% endblock %}