body {
    background-color: #fffbf5;
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #7743db;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    margin-bottom: 10px;
}

a.download-pic {
    text-decoration: inherit;
    color: inherit;
}

.name {
    font-family: 'Tektur', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #f7efe5;
    margin-left: 20px;
    user-select: none;
    margin-right: 20px;
    cursor: pointer;
}

.upload-btn {
    font-family: 'Tektur', sans-serif;
    font-size: 20px;
    color: #f7efe5;
    user-select: none;
    background-color: hsl(261, 68%, 65%);
    padding: 5px 7px;
    border-radius: 13px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: hsl(261, 68%, 50%);
    transition: all 75ms ease;
}

.upload-btn:active {
    background-color: hsl(261, 68%, 30%);
}

.tags-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-bar {
    width: 25%;
    height: 100%;
    background-color: #c3acd0;
    position: fixed;
    top: 0;
    left: 0;
}

.popular-tags {
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #f7efe5;
    margin-top: 65px;
    text-align: center;
}

.all-tags-text {
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #8c8c8c;
    margin: auto auto 10px;
}


.left-bar form {
    position: relative;
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

form.tags-search-bar {
    position: relative;
    width: 15%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.tags-search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7743db;
    border-radius: 5px;
    outline: none;
    background: #fffbf5;
    color: #9E9C9C;
}

.loopa {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(261, 68%, 60%);
    border-radius: 0 5px 5px 0;
}

.loopa:before {
    content: "\f002";
    font-family: FontAwesome, serif;
    font-size: 16px;
    color: #fffbf5;
}

.open-tags-page-btn {
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    text-decoration: underline;
    font-size: 17px;
    color: #fffbf5;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.tag-box {
    width: 90%;
    margin: 10px auto 7px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tags-box {
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tag {
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #fffbf5;
    background-color: #bfbfbf;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    margin: 3px;
    display: inline;
    cursor: default;
}

.tag:active {
    background-color: #a4a3a3;
    transition: all 50ms ease;
}

.show-selected-btn {
    font-family: 'Tektur', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #f7efe5;
    user-select: none;
    background-color: hsl(261, 68%, 56%);
    padding: 5px 7px;
    border-radius: 13px;
    width: 60%;
    margin: auto auto 5px;
    cursor: pointer;
}

.show-selected-btn:hover {
    background-color: hsl(261, 68%, 50%);
    transition: all 75ms ease;
}

.show-selected-btn:active {
    background-color: hsl(261, 68%, 30%);
}

.clear-tags-btn {
    font-family: 'Tektur', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #f7efe5;
    user-select: none;
    background-color: hsl(261, 68%, 70%);
    padding: 5px 7px;
    border-radius: 13px;
    width: 60%;
    margin: auto;
    display: none;
    cursor: pointer;
}

.clear-tags-btn:hover {
    background-color: hsl(261, 68%, 75%);
    transition: all 75ms ease;
}

.clear-tags-btn:active {
    background-color: hsl(261, 68%, 80%);
}

.pics-feed {
    width: 75%;
    height: 100%;
    margin-left: 25%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pic {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
}

.pic-overlay {
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-overlay-text {
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    font-size: 40px;
    color: #44444400;
    display: none;
    user-select: none;
}

.selected-tag {
    background-color: #ffc107;
    color: #333;
}

.pic-overlay:hover {
    background: rgba(255, 255, 255, 0.6);
    transition: all 150ms ease;
}

.pic-overlay:hover > .pic-overlay-text {
    color: #444444;
    transition: all 150ms ease;
    display: block;
}

.image-box {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 600px;
    border-radius: 50px;
}

.image-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.img-tag-list {
    margin-top: 3px;
    display: flex;
    justify-content: center;
}

.imgtag {
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #fffbf5;
    background-color: #bfbfbf;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    display: inline;
    margin-left: 3px;
    cursor: default;
}

.imgtag:active {
    background-color: #a4a3a3;
    transition: all 50ms ease;
}

.main-image-box {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pic-box {
    height: 600px;
    margin: auto auto 2px;
    display: flex;
}

.pic-box img {
    height: 100%;
    margin: auto;
    align-items: center
}

.downld-text {
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #8c8c8c;
    margin: 10px auto;
    text-decoration: underline;
}

.id-text {
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #8c8c8c;
    margin: auto auto 10px;
}

.upload-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-zone {
    width: 700px;
    height: 500px;
    background-color: #FBDEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px dashed;
}

.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 2px solid #fff;
}

.input__file-button-text {
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1;
    margin-top: 1px;
}

.input__file-button {
    width: 100%;
    max-width: 290px;
    height: 60px;
    background-color: hsl(261, 68%, 65%);
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}

.upload-zone input {
    height: 42px;
    width: 80%;
    padding-left: 10px;
    border: 2px solid #7743db;
    border-radius: 5px;
    outline: none;
    background: #fffbf5;
    color: #000000;
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-transform: uppercase;
    margin: auto auto 5px;
    opacity: 0;
}

.upload-zone form {
    display: flex;
    flex-direction: column;
}

.upload-zone button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #7743db;
    color: #fff;
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    font-size: 16px;
    font-family: 'Tektur', sans-serif;
    font-weight: 200;
    opacity: 0;
    margin-bottom: 40px;
}

.upload-zone button:hover {
    background-color: hsl(261, 68%, 50%);
}

.upload-zone button:focus {
    background-color: hsl(261, 68%, 40%);
}

.preview-wrapper {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

.preview-wrapper img {
    width: 100%;
    height: 100%;
    border: black solid 1px;
    border-radius: 20px;
}